@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Header */

.header {
  margin: 50px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 6px;
  color: #000000;
  text-transform: uppercase;
}

.header-nav ul {
  margin: 0;
  padding: 4px;
}
 .header-nav li {
  display: inline;
  margin-right: 100px;
  padding: 3px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav a {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.71;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}


/* Main photo */

.main-photo img {
  width: 100%;
  margin-bottom: 75px;
}
/* Article */

.article {
  margin-bottom: 135px;
}

.article-tag {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #b4ad9e;
  text-transform: uppercase;
}

.article-title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #626262;
  margin: 25px 0;
}

.article-text {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.71;
  color: #626262;
  margin-bottom: 50px;
}

.article-take-comment {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #b4ad9e;
  text-transform: uppercase;
  text-decoration: none;
}

/* Articles */

.articles>.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articles-item {
  width: 420px;
  margin-left: 60px;
}

.articles-item>img {
  margin-bottom: 32px;
}

/* Newsletter */

.newsletter {
  height: 290px;
  background-color: #f2f2f2;
  margin: 100px 0;
}

.newsletter>.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.newsletter-text {
  margin-top: 75px;
  margin-bottom: 85px;
}

.newsletter-input {
  padding: 5px;
  border-bottom: 1px solid #333333;
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.newsletter-input>input {
  border: 0px solid white;
  background-color: #f2f2f2;
  color: #626262;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  width: 170px;
}

.newsletter-text {
  color: #333333;
  display: block;
}

/* Button "Load more" */

.load-more {
  width: 164px;
  height: 60px;
  border: solid 1px #626262;
  font-size: 20px;
  color: #626262;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

.container-button {
  margin: 100px;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  height: 100px;
  background-color: #f2f2f2;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.docs ul {
  margin: 0;
}

.docs li {
  display: inline;
  margin-right: 15px;
}

.docs a {
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-weight: bold;
}

.social ul {
  margin: 0;
}
.social li {
  display: inline;
  margin-right: 15px;
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-weight: bold;
}
